<%= render "navbar" %>

<% if user_signed_in? %>
  <%# <%= link_to "Deconnexion", destroy_user_session_path, data: {turbo_method: :delete} %>
<%end%>

<div class="index">
  <ul>
    <% @articles.each do |article|%>
      <li><%= article.title %></li>
    <% end %>
  </ul>
</div>

<%# <i class="fa-solid fa-magnifying-glass"></i> %>
